{% extends "base.html" %}

{% block content %}

    <h1>Upload Image & Select Model</h1>
    <form action="/upload" method="post" enctype="multipart/form-data" novalidate>
        <h4>Model:</h4>
        <p>
            <select name="model">
                {% for model in models %}
                    <option value="{{ model }}" SELECTED>{{ model }}</option>
                {% endfor %}
            </select>
        </p>
        
        <h4>Image:</h4>
        <p>
            <input type="file" name="file" required>
        </p>

        <button type="submit" class="btn btn-dark mb-2">Upload</button>
    </form>

{% endblock %}
